@import "_mixins";
@import "_variables";

.navbar-links {
  &-parent-text {
    @include fontSizeAndWeight(1rem);
    color: $white-text;
    padding: 0 0 0 0.2rem;
    @media (min-width: $sm-breakpoint) {
      padding-left: 2rem;
    }
  }
  &-menu {
    background-color: $main-theme-background;
    &-div {
      @include flexBoxMixin($flexDirection: row, $alignItems: center);
    }
    &-item {
      @include dropdownBaseStyles(0.8rem, 200, #d0cbcb);
      padding: 0 5.5rem 0 0.7rem !important;
      &:hover {
        color: $white-text;
      }
    }
    &-icons {
      color: #d0cbcb;
      padding-right: 0.7rem;
    }
  }
}
