// Shared variables
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Colors
$white-text: #fff;
$header-footer-background: transparent;
$main-theme-background: #000000ba;

// Breakpoints
$xs-breakpoint: 400px;
$x-sm-breakpoint: 480px;
$sm-breakpoint: 500px;
