// Shared variables
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Colors
$white-text: #fff;
$header-footer-background: transparent;
$main-theme-background: #000000ba;
