<button
  mat-icon-button
  aria-label="Todo menu"
  class="footer-todo-text"
  *ngIf="parentIsTodo"
  [@fadeInOut]
  [matMenuTriggerFor]="todoMenu"
>
  Todo
</button>

<mat-menu
  #todoMenu="matMenu"
  class="footer-todo-menu"
  (click)="$event.stopPropagation()"
>
  <button
    mat-icon-button
    [matMenuTriggerFor]="subTodoMenu"
    aria-label="Recent tasks"
    class="footer-todo-header"
    (click)="$event.stopPropagation()"
  >
    Today
    <mat-icon>expand_more</mat-icon>
  </button>
  <div class="footer-todo-menu-parent-div">
    <button
      mat-raised-button
      class="footer-todo-menu-todo-button"
      (click)="addTodoView = !addTodoView; $event.stopPropagation()"
    >
      <span *ngIf="!addTodoView">Add todo</span>
      <span *ngIf="addTodoView">Switch to today</span>
    </button>
  </div>
  <!-- Filler form/input for now -->
  <form *ngIf="addTodoView"><input type="text" /></form>
  <mat-menu
    #subTodoMenu="matMenu"
    (click)="$event.stopPropagation()"
    class="footer-todo-sub-menu"
  >
    <button mat-menu-item class="footer-todo-sub-menu-text">Today</button>
    <button mat-menu-item class="footer-todo-sub-menu-text">Done</button>
  </mat-menu>
</mat-menu>
