// SASS imports
@import "_mixins";
@import "_variables";

.footer-todo {
  &-text {
    color: $white-text;
    @include fontSizeAndWeight(1rem);
  }
  &-menu {
    display: flex;
    align-items: flex-end;
    height: 15rem;
    max-width: none !important;
    width: 20rem;
    background-color: $main-theme-background !important;
    color: #808080;

    .mat-menu-content {
      height: 100%;
      width: 100%;
    }
    .mat-form-field {
      color: $white-text;
      padding-left: 1rem;
      &-label {
        color: $white-text !important;
      }
      &-flex {
        align-items: flex-end;
      }
    }
    &-todo-button {
      background-color: #585858;
      color: $white-text;
      width: fit-content;
      margin: 0 auto;
    }
    &-send-btn {
      display: flex;
      align-items: flex-end;
      &:hover {
        cursor: pointer;
      }
    }
    &-menu-submit-icon {
      color: $white-text !important;
    }
    &-parent-div {
      height: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &-checkbox {
      color: $white-text;
      padding-right: 0.2rem;
      &-form {
        display: flex;
        align-items: center;
        word-break: break-all;
        height: fit-content;
      }
    }
    // This is used to center the loading indicator when data is loading during GET/POST requests for the Todos/Tasks
    &-sub-div {
      text-align: center;
    }
    &-overflow-div {
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0.6rem;
      }
      &::-webkit-scrollbar-track {
        background-color: inherit;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #808080;
      }
    }
    &-todos {
      list-style-type: none;
      padding: 0 0 0.2rem 1rem;
      &-list-items {
        display: flex;
        justify-content: space-between;
        &:hover {
          .footer-todo-menu-todos-delete-btn {
            display: initial;
          }
        }
      }
      &-delete-btn {
        display: initial;
      }
      &-error-span {
        font-size: 0.7rem;
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
        color: #ff0000;
      }
      &-mat-form-field {
        .mat-form-field-wrapper {
          padding-bottom: 0.9rem;
        }
      }
    }
  }
  &-header {
    color: $white-text;
    @include fontSizeAndWeight(1.3rem);
    padding: 1rem;
  }
  &-sub-menu {
    background-color: #403c3c;
    width: 12rem;
    &-text {
      color: $white-text;
      height: 2rem;
      display: flex;
      align-items: center;
      &:hover {
        background-color: #585858 !important;
      }
    }
  }
  &-del-menu {
    @extend .footer-todo-sub-menu;
    width: auto;
    min-height: auto !important;
  }
}
