// SASS imports
@import "_mixins";
@import "_variables";

.footer-todo {
  &-text {
    @include fontSizeAndWeight(1rem);
    color: $white-text;
  }
  &-menu {
    @include flexBoxMixin($alignItems: flex-end);
    @include heightAndWidth(15rem, 20rem);
    max-width: none !important;
    background-color: $main-theme-background !important;
    color: #808080;
    .mat-menu-content {
      @include heightAndWidth(100%, 100%);
    }
    .mat-form-field {
      color: $white-text;
      padding-left: 1rem;
      &-label {
        color: $white-text !important;
      }
      &-flex {
        @include flexBoxMixin($alignItems: flex-end);
      }
    }
    &-todo-button {
      background-color: #585858;
      color: $white-text;
      width: fit-content;
      margin: 0 auto;
    }
    &-send-btn {
      @include flexBoxMixin($alignItems: flex-end);
      &:hover {
        cursor: pointer;
      }
    }
    &-menu-submit-icon {
      color: $white-text !important;
    }
    &-parent-div {
      @include flexBoxMixin($justifyContent: center, $flexDirection: column);
      height: 50%;
    }
    &-checkbox {
      color: $white-text;
      padding-right: 0.2rem;
      &-form {
        @include flexBoxMixin($alignItems: center);
        word-break: break-all;
        height: fit-content;
      }
    }
    // This is used to center the loading indicator when data is loading during GET/POST requests for the Todos/Tasks
    &-sub-div {
      text-align: center;
    }
    &-overflow-div {
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0.6rem;
      }
      &::-webkit-scrollbar-track {
        background-color: inherit;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #808080;
      }
    }
    &-todos {
      list-style-type: none;
      padding: 0 0 0.2rem 1rem;
      &-list-items {
        @include flexBoxMixin($justifyContent: space-between);
        &:hover {
          .footer-todo-menu-todos-delete-btn {
            display: initial;
          }
        }
      }
      &-delete-btn {
        display: initial;
      }
      &-error-span {
        @include flexBoxMixin($justifyContent: flex-start);
        font-size: 0.7rem;
        padding-left: 1rem;
        color: #ff0000;
      }
      &-mat-form-field {
        .mat-form-field-wrapper {
          padding-bottom: 0.9rem;
        }
        .mat-form-field-infix {
          padding: auto;
        }
      }
    }
  }
  &-header {
    @include fontSizeAndWeight(1.3rem);
    color: $white-text;
    padding: 1rem;
  }
  &-sub-menu {
    background-color: #403c3c;
    width: 12rem;
    &-text {
      @include flexBoxMixin($alignItems: center);
      color: $white-text;
      height: 2rem;
      &:hover {
        background-color: #585858 !important;
      }
    }
  }
  &-del-menu {
    @extend .footer-todo-sub-menu;
    width: auto;
    min-height: auto !important;
  }
}
