<button
  mat-icon-button
  aria-label="Todo menu"
  class="footer-todo-text"
  *ngIf="parentIsTodo"
  [@fadeInOut]
  [matMenuTriggerFor]="todoMenu"
  (click)="retrieveAllTodos()"
>
  Todo
</button>
<mat-menu #todoMenu="matMenu" class="footer-todo-menu">
  <button
    mat-icon-button
    [matMenuTriggerFor]="subTodoMenu"
    aria-label="Recent tasks"
    class="footer-todo-header"
    (click)="$event.stopPropagation()"
  >
    {{ currentSelectedTodoFilter }}
    <mat-icon>expand_more</mat-icon>
  </button>
  <div class="footer-todo-menu-parent-div">
    <button
      mat-raised-button
      class="footer-todo-menu-todo-button"
      (click)="addTodoView = !addTodoView; $event.stopPropagation()"
      *ngIf="todos.length < 1 && !isLoading"
    >
      <span *ngIf="!addTodoView">Add todo</span>
      <span *ngIf="addTodoView">Switch to today</span>
    </button>
    <div
      [ngClass]="{ 'footer-todo-menu-sub-div': isLoading }"
      class="footer-todo-menu-overflow-div"
    >
      <ul class="footer-todo-menu-todos" *ngIf="!isLoading">
        <li
          *ngFor="let todo of todos"
          class="footer-todo-menu-todos-list-items"
        >
          <form
            [formGroup]="todoGroup"
            (ngSubmit)="submitTaskUpdateStatus($event, todo.id)"
            class="footer-todo-menu-checkbox-form"
            #todoGroupForm="ngForm"
          >
            <div>
              <mat-checkbox
                (change)="todoGroupForm.ngSubmit.emit($event.checked)"
                (click)="$event.stopPropagation()"
                class="footer-todo-menu-checkbox"
                [checked]="todo.completed === true"
                *ngIf="
                  (todo.completed === true && doneTodosBoolean) || todoBoolean
                "
              ></mat-checkbox>
              <!-- If a task/todo is marked as completed, display a strikethrough on the name -->
              <span *ngIf="todo.completed == true; else notCompleted"
                ><s>{{ todo.todoName }}</s></span
              >
              <ng-template #notCompleted
                ><span *ngIf="todoBoolean">
                  {{ todo.todoName }}
                </span></ng-template
              >
            </div>
          </form>
          <!-- Button for the dropdown to edit and delete a task/todo -->
          <div
            *ngIf="(todo.completed === true && doneTodosBoolean) || todoBoolean"
          >
            <button
              mat-button
              class="footer-todo-menu-todos-delete-btn"
              aria-label="delete todo"
              (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="deleteAndEditMenu"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <!-- Menu to edit or delete a task/todo -->
            <mat-menu
              #deleteAndEditMenu="matMenu"
              (click)="$event.stopPropagation()"
              class="footer-todo-del-menu"
            >
              <form (ngSubmit)="deleteTodo(todo.id)">
                <button
                  mat-menu-item
                  class="footer-todo-sub-menu-text"
                  type="submit"
                  (click)="$event.stopPropagation()"
                >
                  Delete
                </button>
              </form>
            </mat-menu>
          </div>
        </li>
      </ul>
      <footer-loading-indicator
        [isLoading]="isLoading"
      ></footer-loading-indicator>
    </div>
  </div>
  <form
    *ngIf="addTodoView || todos.length > 0"
    (click)="$event.stopPropagation()"
    [formGroup]="todoGroup"
    (ngSubmit)="submitTodoForm(todoGroup.value)"
  >
    <mat-form-field class="footer-todo-menu-todos-mat-form-field">
      <mat-label>New Todo</mat-label>
      <input
        matInput
        placeholder="New Todo"
        formControlName="todo"
        class="footer-todo-menu-input"
      />
      <button
        mat-menu-item
        matSuffix
        type="submit"
        class="footer-todo-menu-send-btn"
        [disabled]="isLoading"
      >
        <mat-icon class="footer-todo-menu-menu-submit-icon" *ngIf="!isLoading"
          >send</mat-icon
        >
        <footer-loading-indicator
          [isLoading]="isLoading"
        ></footer-loading-indicator>
      </button>
    </mat-form-field>
    <span
      *ngIf="todoField.todo.errors"
      class="footer-todo-menu-todos-error-span"
      >{{ todoErrorMessage }}</span
    >
  </form>
  <mat-menu #subTodoMenu="matMenu" class="footer-todo-sub-menu">
    <button
      mat-menu-item
      class="footer-todo-sub-menu-text"
      (click)="toggleTodoViewState($event); $event.stopPropagation()"
    >
      Today
    </button>
    <button
      mat-menu-item
      class="footer-todo-sub-menu-text"
      (click)="toggleCompletedViewState($event); $event.stopPropagation()"
    >
      Done
    </button>
  </mat-menu>
</mat-menu>
