<button
  mat-icon-button
  aria-label="Todo menu"
  class="footer-todo-text"
  *ngIf="parentIsTodo"
  [@fadeInOut]
  [matMenuTriggerFor]="todoMenu"
  (click)="retrieveAllTodos()"
>
  Todo
</button>

<mat-menu
  #todoMenu="matMenu"
  class="footer-todo-menu"
  (click)="$event.stopPropagation()"
>
  <button
    mat-icon-button
    [matMenuTriggerFor]="subTodoMenu"
    aria-label="Recent tasks"
    class="footer-todo-header"
    (click)="$event.stopPropagation()"
  >
    Today
    <mat-icon>expand_more</mat-icon>
  </button>
  <div class="footer-todo-menu-parent-div">
    <button
      mat-raised-button
      class="footer-todo-menu-todo-button"
      (click)="addTodoView = !addTodoView; $event.stopPropagation()"
      *ngIf="todos.length < 1"
    >
      <span *ngIf="!addTodoView">Add todo</span>
      <span *ngIf="addTodoView">Switch to today</span>
    </button>
    <div>
      <ul class="footer-todo-menu-todos">
        <li *ngFor="let todo of todos">
          {{ todo.todoName }}
        </li>
      </ul>
    </div>
  </div>
  <!-- Filler form/input for now -->
  <form
    *ngIf="addTodoView || todos.length > 0"
    (click)="$event.stopPropagation()"
    [formGroup]="todoGroup"
    (ngSubmit)="submitTodoForm(todoGroup.value)"
  >
    <mat-form-field appearance="none">
      <mat-label>New Todo</mat-label>
      <input
        matInput
        placeholder="New Todo"
        formControlName="todo"
        class="footer-todo-menu-input"
      />
      <button
        mat-menu-item
        matSuffix
        type="submit"
        class="footer-todo-menu-send-btn"
      >
        <mat-icon class="footer-todo-menu-menu-submit-icon">send</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <mat-menu
    #subTodoMenu="matMenu"
    (click)="$event.stopPropagation()"
    class="footer-todo-sub-menu"
  >
    <button mat-menu-item class="footer-todo-sub-menu-text">Today</button>
    <button mat-menu-item class="footer-todo-sub-menu-text">Done</button>
  </mat-menu>
</mat-menu>
