{{ currentTimeToDisplay | date: "h:mm" }}
<h1 class="clock-username-text">
  {{ timeOfDayGreeting }}
  <span *ngIf="!isNameEditable">{{ username }}</span>
  <!-- ------------------------ TODO ----------------------------- -->
  <!-- Change this so the form styling matches the normal text of the username when the form is editable -->
  <!-- Change the form to a angular reactive-form -->
  <form
    *ngIf="isNameEditable"
    class="clock-editable-form"
    [formGroup]="usernameGroup"
  >
    <mat-form-field>
      <input
        matInput
        type="text"
        class="clock-editable-username"
        formControlName="editUsername"
        (blur)="submitEditUsernameForm(usernameGroup.value)"
        (keyup.enter)="submitEditUsernameForm(usernameGroup.value)"
      />
    </mat-form-field>
  </form>
  <button mat-button>
    <mat-icon (click)="editUsername()">more_horiz</mat-icon>
  </button>
</h1>
