// SASS imports
@import "_mixins";

.clock {
  &-username-text {
    display: flex;
    flex-direction: column;
    @include loginAndGenericDisplay(2rem, 400);
    @media (min-width: $x-sm-breakpoint) {
      @include loginAndGenericDisplay(3.7rem, 400);
    }
    @media (min-width: $x-lg-breakpoint) {
      display: block;
    }
  }
  &-editable {
    &-form {
      @include flexBoxMixin($justifyContent: center);
      @media (min-width: $x-lg-breakpoint) {
        display: inline-flex;
      }
    }
    &-username {
      background-color: transparent;
      border: 0;
      color: #fff;
    }
  }
}

.mat-form-field-infix {
  border-top: 0 !important;
  padding: 0 !important;
}
