<p class="footer">
  <mat-toolbar class="footer-mat-toolbar">
    <div>
      <button
        mat-icon-button
        aria-label="Settings widget"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon class="footer-settings-icon">settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="footer-menu">
        <div class="footer-menu-login-menu">
          <button mat-icon-button *ngIf="!currentUser" (click)="logUserIn()">
            <mat-icon aria-hidden="false" aria-label="Account icon"
              >account_circle</mat-icon
            >
            Login
          </button>
          <div>
            <ul class="footer-menu-login-menu-list">
              <li
                class="footer-menu-login-menu-list-item"
                (click)="toggleGeneralState($event)"
              >
                General
              </li>
              <li class="footer-menu-login-menu-list-item">Photos</li>
            </ul>
          </div>
          <mat-expansion-panel
            (click)="$event.stopPropagation()"
            class="footer-menu-logout-menu"
            [ngClass]="{ 'footer-menu-logout-menu-closed': !panelOpenState }"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            *ngIf="currentUser"
          >
            <mat-expansion-panel-header class="footer-menu-logout-menu-header">
              <mat-panel-title class="footer-menu-logout-menu-user-account">
                <mat-icon aria-hidden="false" aria-label="Account icon"
                  >account_circle</mat-icon
                >
                {{ currentUser }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button
              mat-icon-button
              (click)="logUserOut()"
              class="footer-menu-logout-menu-user-account-button"
            >
              Logout
            </button>
          </mat-expansion-panel>
        </div>
        <div *ngIf="generalOpenState" class="footer-menu-general">
          <div>
            <h2>General</h2>
            <h4>Customize your dashboard</h4>
          </div>
        </div>
      </mat-menu>
      <a
        href="{{ photoURL }}"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-photo-link"
        >{{ authorToDisplay }} / Unsplash</a
      >
    </div>
    <span class="footer-todo-text">Todo</span>
  </mat-toolbar>
</p>
