<p class="footer">
  <mat-toolbar class="footer-mat-toolbar">
    <div>
      <button
        mat-icon-button
        aria-label="Settings widget"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon class="footer-settings-icon">settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item>Username</a>
        <a mat-menu-item>Profile</a>
        <a mat-menu-item *ngIf="currentUser" (click)="logUserOut()">Logout</a>
      </mat-menu>
      <a
        href="{{ photoURL }}"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-photo-link"
        >{{ authorToDisplay }} / Unsplash</a
      >
    </div>
    <span class="footer-todo-text">Todo</span>
  </mat-toolbar>
</p>
