<p class="footer">
  <mat-toolbar class="footer-mat-toolbar">
    <div>
      <button
        mat-icon-button
        aria-label="Settings widget"
        [matMenuTriggerFor]="menu"
        (menuOpened)="getAccountPreferences()"
      >
        <mat-icon class="footer-settings-icon">settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="footer-menu">
        <div
          class="footer-menu-login-menu"
          [ngClass]="{ 'footer-menu-login-menu-no-user': !currentUser }"
        >
          <button
            mat-icon-button
            *ngIf="!currentUser"
            (click)="conditionalFooterLoginIn()"
            class="footer-menu-login-menu-no-user-btn"
          >
            <mat-icon aria-hidden="false" aria-label="Account icon"
              >account_circle</mat-icon
            >
            Login
          </button>
          <div>
            <ul class="footer-menu-login-menu-list">
              <li
                class="footer-menu-login-menu-list-item"
                (click)="toggleGeneralState($event)"
              >
                General
              </li>
              <li
                class="footer-menu-login-menu-list-item"
                (click)="togglePhotoState($event)"
              >
                Photos
              </li>
            </ul>
          </div>
          <mat-expansion-panel
            (click)="$event.stopPropagation()"
            class="footer-menu-logout-menu"
            [ngClass]="{ 'footer-menu-logout-menu-closed': !panelOpenState }"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            *ngIf="currentUser"
          >
            <mat-expansion-panel-header class="footer-menu-logout-menu-header">
              <mat-panel-title class="footer-menu-logout-menu-user-account">
                <mat-icon aria-hidden="false" aria-label="Account icon"
                  >account_circle</mat-icon
                >
                {{ currentUser }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button
              mat-icon-button
              (click)="logUserOut()"
              class="footer-menu-logout-menu-user-account-button"
            >
              Logout
            </button>
          </mat-expansion-panel>
        </div>
        <div
          *ngIf="!photoOpenState || generalOpenState"
          class="footer-menu-general"
        >
          <div>
            <h2>General</h2>
            <h4 class="footer-menu-general-sub-header">
              Customize your dashboard
            </h4>
            <form
              class="footer-menu-general-toggle-div"
              (click)="$event.stopPropagation()"
              [formGroup]="slideToggleGroup"
            >
              <h4 class="footer-menu-general-show-header">Show</h4>
              <mat-slide-toggle
                *ngIf="!isLoading"
                class="footer-menu-general-toggle"
                [(ngModel)]="parentIsLinks"
                formControlName="links"
                (change)="submitAccountPreferences(slideToggleGroup.value)"
                >Links</mat-slide-toggle
              >
              <footer-loading-indicator
                [isLoading]="isLoading"
              ></footer-loading-indicator>
              <mat-slide-toggle
                *ngIf="!isLoading"
                class="footer-menu-general-toggle"
                [(ngModel)]="parentIsSearch"
                formControlName="search"
                (change)="submitAccountPreferences(slideToggleGroup.value)"
                >Search</mat-slide-toggle
              >
              <footer-loading-indicator
                [isLoading]="isLoading"
              ></footer-loading-indicator>
              <mat-slide-toggle
                *ngIf="!isLoading"
                class="footer-menu-general-toggle"
                [(ngModel)]="parentIsWeather"
                formControlName="weather"
                (change)="submitAccountPreferences(slideToggleGroup.value)"
                >Weather</mat-slide-toggle
              >
              <footer-loading-indicator
                [isLoading]="isLoading"
              ></footer-loading-indicator>
              <mat-slide-toggle
                *ngIf="!isLoading"
                class="footer-menu-general-toggle"
                [(ngModel)]="parentIsTodo"
                formControlName="todo"
                (change)="submitAccountPreferences(slideToggleGroup.value)"
                >Todo</mat-slide-toggle
              >
              <footer-loading-indicator
                [isLoading]="isLoading"
              ></footer-loading-indicator>
            </form>
          </div>
        </div>
        <div *ngIf="photoOpenState" class="footer-menu-general">
          <div>
            <h2>Photos</h2>
            <h4 class="footer-menu-general-sub-header">
              See a new photo each day
            </h4>
            <button
              mat-button
              (click)="removeCustomBackgroundImage(); $event.stopPropagation()"
              (change)="customBackgroundImageCheck"
              *ngIf="customBackgroundImageCheck"
            >
              Remove the current custom background
            </button>
            <div class="footer-photos-div">
              <ul>
                <li
                  *ngFor="let backgroundImages of backgroundImagesAvailable"
                  class="footer-photos-images"
                  (click)="$event.stopPropagation()"
                >
                  <img
                    height="75"
                    width="100"
                    lazyLoad="{{ backgroundImagePath }}{{
                      backgroundImages.backgroundURL
                    }}"
                    defaultImage="{{ backgroundImagePath }}blur.jpg"
                    (click)="setTodaysBackgroundImage($event)"
                    alt="Day of the week background image"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-menu>
      <a
        href="{{ photoURL }}"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-photo-link"
        >{{ authorToDisplay }} / Unsplash</a
      >
    </div>
    <component-todo-footer
      [parentIsTodo]="parentIsTodo"
      [currentUserId]="currentUserId"
      [currentUser]="currentUser"
      [todos]="todos"
    ></component-todo-footer>
  </mat-toolbar>
</p>
