// SASS imports
@import "_mixins";
@import "_variables";

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  &-mat-toolbar {
    @include fontSizeAndWeight(0.9rem, 200);
    @include flexBoxMixin($justifyContent: space-between);
    background-color: $header-footer-background;
  }
  &-settings-icon {
    @include fontSizeAndWeight(1.3rem);
    @include fadeInOut;
    color: #b7b6b6;
    &:hover {
      color: #fff;
      @include fadeInOut;
    }
  }
  &-photo-link {
    color: $white-text;
    text-decoration: none;
  }
  &-menu {
    @include flexBoxMixin($alignItems: flex-end);
    @include heightAndWidth(20rem, 28rem);
    max-width: none !important;
    background-color: $main-theme-background !important;
    color: #808080;
    &-login-menu {
      @include flexBoxMixin(
        $flexDirection: column,
        $justifyContent: space-between
      );
      height: 100%;
      border-right: 1px solid #504545;
      &-list {
        list-style-type: none;
        padding-left: 0.9rem;
        &-item {
          &:hover {
            color: $white-text;
            cursor: pointer;
          }
        }
      }
      &-no-user {
        @extend .footer-menu-login-menu;
        @include flexBoxMixin($flexDirection: column-reverse, $justifyContent: space-between);
        width: 7rem;
        &-btn {
          padding-left: 1rem !important;
        }
      }
    }
    .mat-menu-content {
      height: 100%;
      padding-bottom: 0 !important;
      display: flex;
      overflow: hidden;
    }
    &-logout-menu {
      background-color: #504545;
      border-radius: 0 !important;
      &-header {
        padding: 0.1rem 2.5rem 0.1rem 0.4rem !important;
      }
      &-closed {
        @extend .footer-menu-logout-menu;
        background-color: inherit;
      }
      &-user-account {
        @include fontSizeAndWeight(0.8rem);
        color: #c3bdbd;
        align-items: center;
        &-button {
          @extend .footer-menu-logout-menu-user-account;
          height: 2rem !important;
          &:hover {
            color: $white-text;
          }
        }
      }
    }
    &-general {
      padding-left: 1rem;
      h2 {
        margin-bottom: 0;
        color: $white-text;
      }
      &-sub-header {
        @include fontSizeAndWeight(initial, 200);
        margin: 0.2rem 0;
      }
      &-show-header {
        @include fontSizeAndWeight(initial, 700);
        color: $white-text;
        border-bottom: 1px solid #504545;
        margin-top: 0.7rem;
        padding-bottom: 0.3rem;
      }
      &-toggle-div {
        @include flexBoxMixin($flexDirection: column);
      }
      &-toggle {
        @include fadeInOut;
        border-bottom: 1px solid #504545;
        padding: 0.3rem 0;
        &:hover {
          @include fadeInOut;
          background-color: #504545;
        }
      }
      &-toggle-loader {
        width: 2rem;
      }
    }
  }
  // Photos section of the footer menu
  &-photos {
    &-div {
      @include flexBoxMixin($flexDirection: column-reverse);
      @include heightAndWidth(14rem, 18rem);
      // Show the vertical scrollbar, but hide the uneeded horizontal scrollbar
      overflow-y: scroll;
      overflow-x: hidden;
      // Scrollbar styling
      &::-webkit-scrollbar {
        width: 0.6rem;
      }
      &::-webkit-scrollbar-track {
        background-color: inherit;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #808080;
      }
    }
    &-images {
      list-style-type: none;
      display: inline-flex;
      padding-left: 0.5rem;
      &:hover {
        cursor: pointer;
      }
    }
    &-remove-image {
      line-height: 0 !important;
      margin-bottom: 0.3rem;
      padding-left: 0;
    }
  }
}

// Expansion panel arrow
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #c3bdbd;
}
