// SASS imports
@import "_mixins";
@import "_variables";

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  &-mat-toolbar {
    @include fontSizeAndWeight(0.9rem, 200);
    background-color: $header-footer-background;
    justify-content: space-between;
  }
  &-settings-icon {
    @include fontSizeAndWeight(1.3rem);
    @include fadeInOut;
    color: #b7b6b6;
    &:hover {
      color: #fff;
      @include fadeInOut;
    }
  }
  &-photo-link {
    color: $white-text;
    text-decoration: none;
  }
  &-menu {
    display: flex;
    align-items: flex-end;
    height: 20rem;
    max-width: none !important;
    width: 28rem;
    background-color: $main-theme-background !important;
    color: #808080;
    &-login-menu {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid #504545;
      &-list {
        list-style-type: none;
        padding-left: 0.9rem;
        &-item {
          &:hover {
            color: $white-text;
            cursor: pointer;
          }
        }
      }
      &-no-user {
        @extend .footer-menu-login-menu;
        flex-direction: column-reverse;
        width: 7rem;
        &-btn {
          padding-left: 1rem !important;
        }
      }
    }
    .mat-menu-content {
      height: 100%;
      padding-bottom: 0 !important;
      display: flex;
    }
    &-logout-menu {
      background-color: #504545;
      border-radius: 0 !important;
      &-header {
        padding: 0.1rem 2.5rem 0.1rem 0.4rem !important;
      }
      &-closed {
        background-color: inherit;
        @extend .footer-menu-logout-menu;
      }
      &-user-account {
        @include fontSizeAndWeight(0.8rem);
        color: #c3bdbd;
        align-items: center;
        &-button {
          @extend .footer-menu-logout-menu-user-account;
          height: 2rem !important;
          &:hover {
            color: $white-text;
          }
        }
      }
    }
    &-general {
      padding-left: 1rem;
      h2 {
        margin-bottom: 0;
        color: $white-text;
      }
      &-sub-header {
        margin: 0.2rem 0;
        @include fontSizeAndWeight(initial, 200);
      }
      &-show-header {
        @include fontSizeAndWeight(initial, 700);
        color: $white-text;
        border-bottom: 1px solid #504545;
        margin-top: 0.7rem;
        padding-bottom: 0.3rem;
      }
      &-toggle-div {
        display: flex;
        flex-direction: column;
      }
      &-toggle {
        border-bottom: 1px solid #504545;
        padding: 0.3rem 0;
        @include fadeInOut;
        &:hover {
          background-color: #504545;
          @include fadeInOut;
        }
      }
      &-toggle-loader {
        width: 2rem;
      }
    }
  }
  // Photos section of the footer menu
  &-photos {
    &-div {
      display: flex;
      flex-direction: column;
      width: 18rem;
      height: 14rem;
      // Show the vertical scrollbar, but hide the uneeded horizontal scrollbar
      overflow-y: scroll;
      overflow-x: hidden;
      // Scrollbar styling
      &::-webkit-scrollbar {
        width: 0.6rem;
      }
      &::-webkit-scrollbar-track {
        background-color: inherit;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #808080;
      }
    }
    &-images {
      list-style-type: none;
      display: inline-flex;
    }
  }
}

// Expansion panel arrow
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #c3bdbd;
}
