// SASS imports
@import "_mixins";

.login {
  &-welcome-display {
    @include loginAndGenericDisplay(3.7rem, 400);
    text-align: center;
  }
  &-form-group {
    width: 55rem;
  }
  &-stepper {
    background-color: transparent;
    &-input {
      @include fontSizeAndWeight(4rem, 200);
      text-align: center !important;
      border-bottom: 3px solid #fff;
    }
  }
  &-error-message {
    @include fontSizeAndWeight(1.2rem, 400);
    display: flex;
    padding-top: 1rem;
    height: 1.2rem;
    justify-content: center;
    color: #fff;
  }
  &-loading-image {
    height: 3rem;
    display: flex;
    margin: 0 auto;
  }
  // Fade in animation when transitioning the step forms
  &-fadein-animation {
    -webkit-animation: fadein 3s linear forwards;
    animation: fadein 3s linear forwards;
    opacity: 0;
  }

  @-webkit-keyframes fadein {
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadein {
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  &-fadeout-animation {
    -webkit-animation: fadeout 3s linear forwards;
    animation: fadeout 3s linear forwards;
    opacity: 1;
  }

  @-webkit-keyframes fadeout {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeout {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.mat-horizontal-stepper-header-container,
.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-infix {
  padding: 0 !important;
}
