// SASS imports
@import "_mixins";

.login {
  &-welcome-display {
    @include loginAndGenericDisplay(3.7rem, 400);
    text-align: center;
  }
  &-form-group {
    width: 50rem;
  }
  &-stepper {
    background-color: transparent;
    &-input {
      @include fontSizeAndWeight(4rem, 200);
      text-align: center !important;
      border-bottom: 3px solid #fff;
    }
  }
}

.mat-horizontal-stepper-header-container {
  display: none !important;
}

.mat-form-field-infix {
  padding: 0 !important;
}


