<mat-horizontal-stepper
  [linear]="true"
  #stepper
  class="login-stepper"
  [@.disabled]="true"
>
  <mat-step [stepControl]="loginGroupOne">
    <form
      [formGroup]="loginGroupOne"
      (ngSubmit)="submitLoginFormOne(loginGroupOne.value)"
      #logingroupone="ngForm"
    >
      <mat-form-field
        class="login-form-group login-fadein-animation"
      >
        <h1 class="login-welcome-display">Hello, what's your name?</h1>
        <input
          matInput
          formControlName="name"
          required
          class="login-stepper-input"
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginGroupTwo">
    <form
      [formGroup]="loginGroupTwo"
      (ngSubmit)="submitLoginFormTwo(loginGroupTwo.value)"
    >
      <mat-form-field
        class="login-form-group"
        [ngClass]="{ 'login-fadein-animation': stepper.selectedIndex === 1 }"
      >
        <h1 class="login-welcome-display">
          What's your email, {{ username }}?
        </h1>
        <input
          matInput
          formControlName="email"
          class="login-stepper-input"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginGroupThree">
    <form
      [formGroup]="loginGroupThree"
      (ngSubmit)="submitLoginFormThree(loginGroupThree.value)"
    >
      <mat-form-field
        class="login-form-group login-fadein-animation"
        [ngClass]="{ 'login-fadein-animation': stepper.selectedIndex === 2 }"
      >
        <h1 class="login-welcome-display">What's your password?</h1>
        <input
          matInput
          formControlName="password"
          type="password"
          required
          class="login-stepper-input"
        />
      </mat-form-field>
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button type="submit">
          Submit
        </button>
        <button mat-button matStepperPrevious>Previous</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
