<mat-horizontal-stepper
  [linear]="true"
  #stepper
  class="login-stepper"
  [@.disabled]="true"
>
  <mat-step [stepControl]="loginGroupOne">
    <form
      [formGroup]="loginGroupOne"
      (ngSubmit)="submitLoginFormOne(loginGroupOne.value)"
      #logingroupone="ngForm"
    >
      <mat-form-field class="login-form-group login-fadein-animation">
        <h1 class="login-welcome-display">Hello, what's your name?</h1>
        <input
          matInput
          formControlName="name"
          required
          class="login-stepper-input"
          type="text"
        />
        <span
          class="login-error-message"
          *ngIf="nameField.name.errors && nameField.name.errors.minlength"
          >Your name cannot be less than 2 characters.</span
        >
      </mat-form-field>
      <div class="login-parent-btn-div">
        <button
          mat-button
          matStepperNext
          [disabled]="
            (nameField.name.errors && nameField.name.errors.minlength) ||
            nameField.name.value === ''
          "
        >
          Next
        </button>
        <button
          mat-button
          (click)="continueWithoutLoggingIn(loginGroupOne.value)"
          [disabled]="
            (nameField.name.errors && nameField.name.errors.minlength) ||
            nameField.name.value === ''
          "
        >
          Continue without logging in
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginGroupTwo">
    <form
      [formGroup]="loginGroupTwo"
      (ngSubmit)="submitLoginFormTwo(loginGroupTwo.value)"
    >
      <mat-form-field
        class="login-form-group"
        [ngClass]="{ 'login-fadein-animation': stepper.selectedIndex === 1 }"
      >
        <h2 class="login-welcome-display" *ngIf="!loading">
          What's your email, {{ username }}?
        </h2>
        <img
          *ngIf="loading"
          class="login-loading-image"
          src="../../../assets/images/searchengine-loader.gif"
        />
        <input
          matInput
          formControlName="email"
          class="login-stepper-input"
          required
          [disabled]="loading"
          type="email"
        />
        <span class="login-error-message">{{ emailErrorMessage }}</span>
        <!-- If the email entered doesn't match Angulars regex validation, display this error -->
        <span
          class="login-error-message"
          *ngIf="emailField.email.errors && emailField.email.errors.pattern"
          >That is not a valid email address.</span
        >
      </mat-form-field>
      <div class="login-parent-btn-div">
        <button mat-button matStepperPrevious [disabled]="loading">
          Previous
        </button>
        <button
          mat-button
          matStepperNext
          [disabled]="
            loading ||
            emailField.email.value === '' ||
            (emailField.email.errors && emailField.email.errors.pattern)
          "
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginGroupThree">
    <form
      [formGroup]="loginGroupThree"
      (ngSubmit)="
        emailInUse
          ? submitLoginForm(loginGroupThree.value)
          : submitSignUpForm(loginGroupThree.value)
      "
    >
      <mat-form-field
        class="login-form-group login-fadein-animation"
        [ngClass]="{ 'login-fadein-animation': stepper.selectedIndex === 2 }"
      >
        <!-- Show either of the following display texts - depending on if the email is already in use or not -->
        <div *ngIf="!loading">
          <h2 class="login-welcome-display" *ngIf="emailInUse; else noAccount">
            What's your password?
          </h2>
          <ng-template #noAccount
            ><h2 class="login-welcome-display">
              Please choose your password.
            </h2></ng-template
          >
        </div>
        <img
          *ngIf="loading"
          class="login-loading-image"
          src="../../../assets/images/searchengine-loader.gif"
        />
        <input
          matInput
          formControlName="password"
          type="password"
          required
          class="login-stepper-input"
          [disabled]="loading"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          class="login-password-visibility"
          [disabled]="loading"
          disableRipple="true"
          type="button"
        >
          <mat-icon class="login-password-visibility-icon">{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <span class="login-error-message">{{ passwordErrorMessage }}</span>
      </mat-form-field>
      <div class="login-parent-btn-div">
        <button mat-button (click)="stepper.reset()" [disabled]="loading" type="button">
          Reset
        </button>
        <button
          mat-button
          type="submit"
          [disabled]="loading || passwordField.password.value === ''"
        >
          Submit
        </button>
        <button mat-button matStepperPrevious [disabled]="loading" type="button">
          Previous
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
