<mat-horizontal-stepper
  [linear]="true"
  #stepper
  class="login-stepper"
  [@.disabled]="true"
>
  <mat-step [stepControl]="loginGroupOne">
    <form
      [formGroup]="loginGroupOne"
      (ngSubmit)="submitLoginFormOne(loginGroupOne.value)"
      #logingroupone="ngForm"
    >
      <mat-form-field class="login-form-group login-fadein-animation">
        <h1 class="login-welcome-display">Hello, what's your name?</h1>
        <input
          matInput
          formControlName="name"
          required
          class="login-stepper-input"
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginGroupTwo">
    <form
      [formGroup]="loginGroupTwo"
      (ngSubmit)="submitLoginFormTwo(loginGroupTwo.value)"
    >
      <mat-form-field
        class="login-form-group"
        [ngClass]="{ 'login-fadein-animation': stepper.selectedIndex === 1 }"
      >
        <h2 class="login-welcome-display">
          What's your email, {{ username }}?
        </h2>
        <input
          matInput
          formControlName="email"
          class="login-stepper-input"
          required
          [disabled]="loading"
          type="email"
        />
        <span class="login-error-message">{{ errorMessage }}</span>
        <!-- If the email entered doesn't match Angulars regex validation, display this error -->
        <span class="login-error-message" *ngIf="emailField.email.errors && emailField.email.errors.email">That is not a valid email address.</span>
        <img
          *ngIf="loading"
          class="login-loading-image"
          src="../../../assets/images/searchengine-loader.gif"
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="loading">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="loginGroupThree">
    <form
      [formGroup]="loginGroupThree"
      (ngSubmit)="
        emailInUse
          ? submitLoginForm(loginGroupThree.value)
          : submitSignUpForm(loginGroupThree.value)
      "
    >
      <mat-form-field
        class="login-form-group login-fadein-animation"
        [ngClass]="{ 'login-fadein-animation': stepper.selectedIndex === 2 }"
      >
        <!-- Show either of the following display texts - depending on if the email is already in use or not -->
        <h2 class="login-welcome-display" *ngIf="emailInUse; else noAccount">
          What's your password?
        </h2>
        <ng-template #noAccount
          ><h2 class="login-welcome-display">
            Please choose your password.
          </h2></ng-template
        >
        <input
          matInput
          formControlName="password"
          type="password"
          required
          class="login-stepper-input"
          [disabled]="loading"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
          class="login-password-visibility"
          disableRipple="true"
          type="button"
        >
          <mat-icon class="login-password-visibility-icon">{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <span class="login-error-message">{{ errorMessage }}</span>
        <img
          *ngIf="loading"
          class="login-loading-image"
          src="../../../assets/images/searchengine-loader.gif"
        />
      </mat-form-field>
      <div>
        <button mat-button (click)="stepper.reset()" [disabled]="loading">
          Reset
        </button>
        <button mat-button type="submit" [disabled]="loading">
          Submit
        </button>
        <button mat-button matStepperPrevious [disabled]="loading">
          Previous
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
