// SASS imports
@import "_mixins";
@import "_variables";

.navbar-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  &-placeholder {
    background: url("../../../../assets/images/google.svg") no-repeat;
    height: 1rem;
  }
  &-full-width {
    width: 50%;
    @media (min-width: $xs-breakpoint) {
      width: 75%;
    }
    @media (min-width: $x-sm-breakpoint) {
      width: 85%;
    }
    @media (min-width: $sm-breakpoint) {
      width: 100%;
    }
  }
  &-submit-disabled {
    color: red;
  }
  &:hover {
    .navbar-form-select-field {
      @include fadeInOut;
      opacity: 0.6;
    }
  }
  &:focus-within {
    .navbar-form-select-field {
      @include fadeInOut;
      opacity: 1 !important;
    }
  }
  &-select-field {
    @include fadeInOut;
    opacity: 0;
  }
  &-select-field-show {
    @include fadeInOut;
    opacity: 1 !important;
  }
  &-select-dropdown {
    width: 2rem;
    &-option {
      @include fontSizeAndWeight(0.8rem, 200);
      background-color: $main-theme-background;
      color: $white-text;
      &:hover {
        background-color: rgb(44, 39, 41);
      }
      &:active {
        background-color: $main-theme-background;
      }
    }
    &-label {
      @extend .navbar-form-select-dropdown-option;
      @include fontSizeAndWeight(1.1rem, 200);
    }
  }
}

// Overriding the default class for selected mat-option components
.mat-selected {
  background-color: $main-theme-background !important;
  color: $white-text !important;
}
